# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
media/
staticfiles/

# Environment variables (maxfiy kalitlar)
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db